<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR</title>

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/materialize/materialize.min.js"></script>

    <script src="~/Scripts/material_checkbox.js"></script>
    <script src="~/Scripts/common.js"></script>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



</head>
<body>

    <div class="navbar-fixed">
        <nav class="indigo lighten-1">
            <div class="nav-wrapper">
                <ul class="left">
                    <li><a href="#" data-activates="slide-out" class="button-slide-menu"><i class="mdi-navigation-menu"></i></a></li>
                    <li>@ViewBag.Title</li>
                </ul>
                <ul class="right">
                    <li><a href="#" id="search-button"><i class="material-icons">search</i></a></li>
                </ul>
            </div>
            <ul id="slide-out" class="side-nav">
                <li class="logo indigo-text">
                    <h3>HR</h3>
                </li>
                <li class="divider"></li>
                <li><a href="#!" class="slide-menu-item"><i class="material-icons">face</i><span>Candidates</span></a></li>
                <li><a href="#!" class="slide-menu-item"><i class="material-icons">work</i><span>Vacancies</span></a></li>
                <li class="no-padding">
                    <ul class="collapsible">
                        <li>
                            <a class="collapsible-header slide-menu-item"><i class="material-icons">settings</i><span>Settings</span></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="@Url.Action("Index", "InfoType", new { area = "Settings" })" class="slide-menu-item"><i class="material-icons">contacts</i><span>Info Types</span></a></li>
                                    <li><a href="#!" class="slide-menu-item"><i class="material-icons">perm_identity</i><span>Users</span></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
     </div>
    <div class="container" id="search-bar">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s11 l11">
                        <i class="material-icons prefix" id="search-clear-button">close</i>
                        <input id="search-input" type="search" class="validate">
                        <label for="search-input">Search</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="divider"></div>
     
        @RenderBody()


</body>
</html>