<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" type="text/css" />
    
</head>
<body>

    <nav>
        <div class="nav-wrapper green darken-1 z-depth-1">
            <ul class="left">
                <li>@Html.ActionLink("Candidates", "Index", "Home", new { area = "Candidate" }, null)</li>
                <li>@Html.ActionLink("Vacancies", "Index", "Home", new { area = "Vacancy" }, null)</li>
            </ul>
            <ul class="right">
                <li></li>
            </ul>
        </div>
    </nav>
    
    
    @RenderBody()
    

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/materialize/materialize.min.js"></script>
</body>
</html>