body {
    background-color: #fdfdfd;
}

#slide-out > li > a {
    font-weight: bold;
}

#slide-out .collapsible-header {
    font-weight: bold;
}

.search-bar {
    margin-left: 20px;
}