body {
    background-color: #fdfdfd;
}

#slide-out > li > a {
    font-weight: bold;
}

#slide-out .collapsible-header {
    font-weight: bold;
}

.slide-menu-item {
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

.slide-menu-item .material-icons {
    margin-right: 18px;
}